<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
{{>navbar}}
   <!-- main header -->
   <div class="container-fluid main_header">
       <div class ="row">
           <div class ="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--left side div -->
                <div class="col-md-12 col-12 main_header_right align-items-center">
                    <figure class ="errorimg">
                        <img src="images/404.png" alt="akki",class="img-fluid",title ="Akki sharma" width="675px" >
                    </figure>
                
                    <p >Welocme to Akki's world</p>
                    <h1> <span class ="txt-clr"> {{text}} </span>  </h1>
                    <a href="/" ><button>Home</button></a>
                </div>
                <!-- right side div -->
               
            </div>
           </div>
       </div>
   </div>
   
  <!-- footer codes -->
   {{>Footer}}
  </div>
    {{>script}}
</body>
</html>